*.suo
*.suo
*.exe
*.ilk
Oppgaven/Debug/Oppgaven.pdb
*.db
Oppgaven/SDL2_Standardproject/Debug/GameManager.obj
*.suo
Oppgaven/SDL2_Standardproject/Debug/SDLManager.obj
Oppgaven/SDL2_Standardproject/Debug/SDLError.obj
Oppgaven/SDL2_Standardproject/Debug/SDLError.obj
Oppgaven/SDL2_Standardproject/Debug/Timer.obj
Oppgaven/SDL2_Standardproject/Debug/vc140.pdb
Oppgaven/SDL2_Standardproject/Debug/SDLBmp.obj
*.log
*.tlog
Oppgaven/SDL2_Standardproject/Debug/Oppgaven.tlog/Oppgaven.lastbuildstate
*.tlog
*.obj
*.db
Oppgaven/Debug/Oppgaven.pdb
*.ilk
*.filters
*.obj
*.opendb